body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.RegularUserMainPageWrapper {
  margin-left: 24vw;
}

nav ul {
  list-style-type: none;
  padding: 0%;
  margin-left: 168px;
}

nav ul li {
  font-size: 40px;
  font-family: sans-serif;
  background-color: white;
  border: 2px solid rgb(0, 0, 0);
  letter-spacing: 0.121em;
  width: 5.6em;
  height: 1.5em;
  line-height: 1.5em;
  position: relative;
  overflow: hidden;
  margin: 0.5em;
  cursor: pointer;
}

nav ul li span {
  color: white;
  mix-blend-mode: difference;
}

nav ul li::before {
  content: "";
  position: absolute;
  width: 1.65em;
  height: 56px;
  background-color: black;
  border-radius: 50%;
  top: 0;
  left: -0.75em;
  transition: 0.5s ease-out;
}

nav ul li:hover::before {
  transform: scale(7);
}

.Menu-Btn {
  display: inline-block;
  margin-left: -25rem;
}
.Dislike-Btn {
  display: inline-block;
  margin-left: 12rem;
}
.Details-Btn {
  display: inline-block;
  margin-left: 16rem;
}
